{% extends "base.html" %}

{% block content %}
    <form action="{{ url_for('create') }}" method="post" class="create">
        <div class="form-group" id="link-group">
            <label class="content-lbl" for="links">Add some URLS</label>
            <div class="input-group" name="links">
                <span class="input-group-addon">1</span>
                <input type="text" class="form-control" rows="7" placeholder="example.com">
            </div>
        </div>
        <div class="form-group">
            <label class="content-lbl" for="text">Give a description (optional)</label>
            <textarea class="form-control" id="text" name="text" rows="6"></textarea>
        </div>
        <input type="submit" class="btn btn-block btn-primary content-btn" value="SHARE">
    </form>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="../static/index.js"></script>
{% endblock %}
