{% extends "base.html" %}

{% block content %}
    <form action="{{ url_for('create') }}" onsubmit="deleteButton()" method="post" class="create">
        {{  form.csrf_token }}
        <div class="form-group" id="link-group">
            {{ form.link.label }}
            <div class="input-group" name="links">
                <span class="input-group-addon">1</span>
                {{ form.link(rows="7", class = "form-control content-input", placeholder="example.com") }}
            </div>
        </div>
        <div class="form-group">
            {{ form.text.label }}
            {{ form.text(class="form-control content-input", rows="6") }}
        </div>
        {{ form.submit(class = "btn btn-block btn-primary content-btn", value = "Share") }}
    </form>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="../static/index.js"></script>
{% endblock %}
